#title {
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font: bold 50pt helvetica;
}

#main {
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.input_row {
    margin-bottom: 10px;
    width: 250px;
}

#input {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

#author_input {
    margin-left: 20px;
}
#title_input {
    margin-left: 36px;
}
#author_input, #title_input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

#buttons {
    width:130px;
    margin-left: 75px;
}
#submit_button {
    margin-right: 10px;
}

#submit_button, #clear_button {
    background-color: white;
    font-size: 12pt;
    font-weight: bold;
    font-family: helvetica;
    border: none;
    
    transition: .5s;
}
#submit_button:hover, #clear_button:hover {
    background-color: #C90000;
    color: white;
    
    transition: .5s;
}

#output {
    text-align: center;
    width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 10px;
    
    border-top: 1px solid;
    border-left: none;
}
