#title
{
    font: bold 26pt helvetica;
}

body {
    width: 900px;
}

#main {
    width: 800px;
}

#price_form
{
    height: 700px;
    //width: 400px;
	float:left;
}

#color_img
{
    float:left;
    //position: absolute;
    //margin-left: 420px;
    height: 140px;
    width: 400px;
    border: 1px solid black;
}

.form_section
{
    border: 1px solid black;
    width: 400px;
    margin-bottom: 10px;
}

.section_title
{
    color: white;
    background-color: gray;
    font: bold 16pt arial;
    
    margin: 5px 7px 5px 5px;
    padding: 2px 0px 3px 4px;
}

h3.section_title:first-letter
{
    font-size: 20pt;
}

.option 
{
    width: 200px;
    padding-left: 5px;
}

.price
{
    width: 180px;
    margin-left: 200px;
    margin-top: -20px;
    text-align: right;
}

ul
{
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 8px;
}

#total_show
{
    margin: 2px 5px 5px 5px;
    width: 200px;
}

#calculate_button
{
    margin-left: 55px;
}

#color_picker
{
    margin: -20px 5px 8px 8px;
}

#preview
{
    height: 90px;
    margin-left: 90px;
}
