#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

p {
    width: 420px;
}

#seal {
    width: 180px;
    margin-top: -160px;
    float: right;
}

#popup_title {
    font-family: helvetica;
}

#popup_number {
    font-family: arial;
    font-size: 18pt;
}

#popup_desc, #popup_img {
    float: left;
}