body {
    width: 800px;
}

#masthead {
    margin: 20px 10px 10px 10px;
    color: #CC0000;
}

#title {
    font-family: sans-serif;
    font-size: 36pt;
}

#edition {
    font-size: 12pt;
    width: 100px;
    text-align: right;
    
    float:right;
    margin-top: -70px;
}

#intro h2 {
    font-size: 18pt;
    font-weight: bold;
    font-family: sans-serif;
}

#intro {
    width: 500px;
    float: left;
}

img {
    float: left;
    margin: 0px 5px 5px 5px;
}

#calendar {
    float: left;
    width: 300px;
    
    margin-top: 10px;
}

#calendar h2 {
    font-size: 14pt;
    font-weight: bold;
    font-family: sans-serif;
}

.item {
    font-size: 12pt;
    font-style: italic;
    font-family: sans-serif;
    
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

#firstItem {
    border-top: 1px solid black;
    padding-top: 10px;
}
