
#all {
	margin:-80px -10px 0px -10px;
}

h1 {
    height: 118px;
    background-color: #990000;
    
    padding: 115px 0px 0px 400px;
	width: 1265px;
	font-size: 90px;
	font-family: impact;
	color: white;
}

#seal {
    margin-top: -40px;
    margin-left: 750px;
    height: 180px;
    width: 180px;
}

#titlebar {
    overflow: hidden;
    height: 300px;
    transition: 1s;
}

#titlebar:hover {
    height: 500px;
    transition: 1s;
}

#stanford_s {
	font-size: 120px;
}

.hb {
	font-size: 100px;
}


#main {
	margin-left: 400px;
	margin-right: 380px; 
}

.entrytitle, .entrycontents {
    width: 750px;
    margin-left: 150px;
}

.entrytitle {
    font-size: 24px;
    font-family: arial;
}

.entrydate {
    float:left;
    margin-top: -50px;
    font-size: 28px;
}

.entrytags {
    margin-top: 40px;
    margin-left: 150px;
    text-align: right;
    width: 720px;
    font-size: 12px;
    color: #C0C0C0;
    padding-bottom: 10px;
    border-bottom: 1px solid #C0C0C0;
}

.entrytags:hover {
    color: #474747;
}

.entry {
    margin-top: 40px;
    overflow: hidden;
}

a {
    color: #C0C0C0;
    text-decoration: none;
}

a:hover {
    color: #FF9900;
}
