img {
	float: left;

	width: 450px;
	height: 300px;

	margin: 0px 20px 0px 20px;
}

body {
	font-family: Sans-Serif;
}

h1 {
	text-align: center;
}

a:hover {
	color: orange;
}

.stanford {
	color:red;
}