#main {
    float: left;
    width: 800px;
    height: 1000px;
}

#header {
    background-color: #9A0000;
    width: 800px;
    height: 120px;
    margin: 0px 10px 10px 0px;
}

#title {
    color: white;
    font-size: 50pt;
    font-family: sans-serif;
    
    width: 700px;
    padding-top: 30px;
    margin: 0px 0px 0px 20px;
}

#tree_logo {
    float: right;
    margin-top: -109px;
}


#sidebar {
    margin: 0px 10px 10px 10px;
    float: left;
    
    height: 400px;
}

#prof_pic {
    width: 200px;
}

#info {
    margin-top: -10px;
    font-family: sans-serif;
}

.section_header {
    background-color: #CC9191;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
    padding: 8px 0px 5px 10px;
    font-size: 12pt;
}

.info_data {
    font-size: 10pt;
    margin: -10px 0px 12px 0px;
}

#status_panel {
    float: left;
    width: 580px;
}

#name {
    font-size: 25pt;
    font-family: sans-serif;
}

.status {
    border-top: 1px solid black;
    padding-top: 10px;
}

#updater {
    float: left;
    margin: -20px 0px 0px 30px;
    width: 200px;
}

#status_input {
    width: 195px;
    height: 80px;
    margin-bottom: 10px;
}
