<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8" />
	<title>Cities</title>

	<style type="text/css">
		#search {
    		position: relative;
    		top: -36px;
    		left: 50px;
		}
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	
</head>
<body>

	<h1 id="title">Cities</h1>

	<form>
		<p id="search_text">Search: </p>
		<input id="search" type="text" ng-model="cityName">
	</form>

	<ul id="list" ng-init="cities=[ {name: 'Mumbai', 		continent: 'Asia', 			population: 20400000},
									{name: 'New York', 		continent: 'North America', population: 21295000},
									{name: 'San Francisco', continent: 'North America', population: 5780000},
									{name: 'London', 		continent: 'Europe', 		population: 8580000},
									{name: 'Rome', 			continent: 'Europe', 		population: 2715000},
									{name: 'Melbourn', 		continent: 'Australia', 	population: 7354555},
									{name: 'Rostov-on-Don', continent: 'Europe', 		population: 1052000}]">

		<li ng-repeat="city in cities | filter:cityName">{{city.name + ", " + city.continent  + ", " + city.population}}</li>
	</ul>

</body>
</html>