#zip_code_text {
    width: 110px;
}

form {
    height: 30px;
}

#zip_code_input {
    position: relative;
    top: -35px;
    left: 105px;
}

.buttons {
    position: relative;
    top: -35px;
    left: 105px;
}

#output {
    width: 400px;
    height: 150px;
}