body {
    width: 1500px;
    height: 800px;
}

#search_bar {
    margin-left: 20px;
    width: 260px;
}

#info_table {
    width: 840px;
    border-collapse: collapse;
}

.info_row, .info_data {
    border: 1px solid grey;
}

.info_row:nth-child(odd) {
    background-color: lightgrey;
}

.info_data, .section_title {
    padding: 4px 0px 4px 5px;
}

.section_title {
	background-color: grey;
	color: white;
	
	font-family: helvetica;
	text-align: center;
	
	font-size: 12pt;
	font-weight: normal;
}

.name_section {
    width: 250px;
}

.system_section {
    width: 200px;
}

.sat_section {
    width: 90px;
}

.tuition_section {
    width: 80px;
}

.room_section {
    width: 130px;
}

#search_criteria {
    width: 260px;
    
    border: 1px solid grey;
}

h2 {
    margin-top: 0px;
}

#info_display {
    width: 210px;
}

.radio_button {
    width: 100px;
    display: inline;
    
    font-family: arial;
    font-size: 11pt;
    
    padding: 0px 2px 0px 2px;
}

.radio_list {
    width: 250px;
    list-style: none;
    
    padding-left: 0px;
    margin-left: 5px;
    margin-top: -5px;
}

#college_list, #search_bar {
    float: left;
}

.field_name {
    font-family: arial;
    font-size: 11pt;
    
    width: 140px;
}

.notice {
    font-family: arial;
    font-size: 9pt;
    
    margin-top: -12px;
    width: 140px;
}

.input_row {
    height: 40px;
    width: 250px;
    
    margin-left: 6px;
    margin-top: -8px;
}

.text_input {
    float: right;
    margin-top: -45px;
    
    height: 20px;
    width: 80px;
}

#info_display {
    border: 1px solid grey;
    
    margin-top: 30px;
}

.check_row {
    height: 20px;
    
    margin-left: 8px;
}

.checkbox {
    float: right;
    margin-top: -33px;
    margin-right: 10px;
}

#update_button {
    margin-top: 30px;
}












