#frame {
	overflow: hidden;
	border: 3px solid red;
    float: left;
}

#map {
	position: relative;
}

#frame:active {
    cursor: move;
}

#controls_box {
    float: left;
    margin-left: 10px;
    margin-top: 50px;
}

#move_buttons {
    margin-left: 18px;
    margin-top: 30px;
}

#zoom_buttons {
    margin-left: 40px;
    margin-bottom: 20px;
}

#move_left {
    position: relative;
    top: 25px;
    left: 8px;
}

#move_up {
    position: relative;
    left: 5px;
    top: 3px;
}

#move_down {
    position: relative;
    top: 48px;
    left: -25px;
}

#move_right {
    position: relative;
    top: 25px;
    left: -28px;
}

