.pic {
	position: absolute;
}

#selection_box {
    width: 200px;
    height: 150px;
	border: 10px solid grey;
	
	margin: 90px auto 0px auto;
}

h1 {
	float: left;
	margin-top: -55px;
	margin-left: 20px;
}