#main {
    width: 400px;
    float: left;
}

#controls {
    float: left;
    margin-left: 100px;
    margin-top: 60px;
}

form {
    width: 300px;
}

#desc_row {
    height: 25px;
    width: 200px;
}

p {
    width: 85px;
}

#desc {
    position: relative;
    top: -34px;
    left: 85px;
}

#priority_row {
    height: 25px;
}

#high {
    position: relative;
    top: -35px;
    left: 60px;
}

#high_radio {
    position: relative;
    top: -70px;
    left: 95px;
}

#normal {
    position: relative;
    top: -107px;
    left: 130px;
}

#normal_radio {
    position: relative;
    top: -143px;
    left: 185px;
}

#buttons_row {
    margin-top: 20px;
}

.item {
    width: 300px;
    padding: 10px;
    margin: 10px;
    
    border: 4px solid red;
}

.high_priority {
    border: 4px solid red;
}

.normal_priority {
    border: 4px solid black;
}
